.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: var(--space-5);
}

.heading {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-text-primary);
  margin-bottom: var(--space-5);
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
